<!doctype html>
<html>
    <head>
        <title>Schema Control</title>
        {{{css}}}
    </head>
    <body>
        {{#if component}}
            <div id="component-control" data-component="{{component}}">
                <div class="schema-title">{{compTitle}}</div>
                <div class="schema-control">
                    <div class="schema-tabs">
                        {{#if compSchema}}
                            <div id="component-tab">Component</div>
                        {{/if}}
                        <div id="display-tab">Display</div>
                        <div id="export-tab">Export</div>
                    </div>
                    <div class="schema-content">
                        {{#if compSchema}}
                            <div id="component-content" data-schema="{{stringify compSchema}}" data-bootstrap="{{stringify compBootstrap}}"></div>
                        {{/if}}
                        <div id="display-content">
                        </div>
                        <div id="export-content">
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{{js}}}
    </body>
</html>



